<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VueJS Lite</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <script src="https://unpkg.com/vue@3.2.47/dist/vue.global.js"></script>

    <div id="app">
        <div class="searchbox">
            Search : <input v-model="searchTerm" type="text">
            <p>{{resultCount}} résultat(s)</p>
        </div>
        <div class="memeBox" v-for="meme in filteredMemes" :key="meme.id">
            <h3>{{meme.name}}</h3>
            <img class="memeImg" :src="meme.url">
        </div>
    </div>

    <script src="main.js"></script>
</body>

</html>